body{
        background-color:white;
        padding:60px 60px 60px 60px;
        }
.Heading{
        background-color:grey;
        text-align:center;
        font-size:55px;
        color:White; 
        font-family:Lobster, Helveteca, Sans-serif, Monospace;
        margin-right:0%;
        margin-left:3%;
        }
.imgh{
        border-width:5px;
        border-color:green;
        border-radius:50%;
        width:100px;
        height:100px;
        }
h2{
        margin:30px 175px 0px 200px;
        text-align:center;
        }
.borderimage{
        border-color:black;
        border-style:solid;
        border-width:10px;
        border-radius:7px;
        width:760px;
        margin:3% 16% 0% 16%;
        }
p{
        margin:auto;
        font-size:16px;
        color:white;
        text-align:center;
        font-family:sans-serif;
        }
ul{
        margin:3% 17% 3% 17%;
        text-align:left;
        color:#fac;
        }
/* unvisited link */
a:link{
        color:white;
        text-decoration:underline;
        }
/* visited link */
a:visited{
        color:purple;
        text-decoration:underline;
        }
/* mouse over link */
a:hover{
        color:blue;
        text-decoration:underline;
        }
/* selected link */
a:active{
        color:yellow;
        text-decoration:underline;
        }
